*.class
*.log
.idea/
project/target/config-classes/$087dabce17d963cb99c7.cache
project/target/config-classes/$13fd9ec2d2676701a484.cache
project/target/config-classes/$28a15d8e4ecec996a2da.cache
project/target/config-classes/$34288ac86da0bd43d401.cache
project/target/config-classes/$36d20c8ab6559bb6a25b.cache
project/target/config-classes/$3715e207de48ca32339f.cache
project/target/config-classes/$40aa090884ae6cf1576a.cache
project/target/config-classes/$58ded62c31a028210098.cache
project/target/config-classes/$5f80f9bffbeabf1b74c0.cache
project/target/config-classes/$a3934c84c1cc0a25e29e.cache
project/target/config-classes/$b86a2d1302a2842d1ddf.cache
project/target/config-classes/$bbeeaa70afa266a3f3c1.cache
project/target/config-classes/$cade34092b07e7168e44.cache
project/target/config-classes/$f01154715c15b628eda2.cache
project/target/config-classes/$f7c3c83281041cd93fce.cache
project/target/scala-2.10/
project/target/streams/
target/.history
target/scala-2.12/classes/URLs.txt
target/scala-2.12/classes/application.conf
target/scala-2.12/classes/logback.xml
target/scala-2.12/classes/sharded.conf
target/scala-2.12/classes/shardedURLs.txt
target/scala-2.12/resolution-cache/
target/streams/
*.cache
